@font-face {
  font-family: 'Lickety Split';
  src: url('Lickety Split 2015.eot'); /* IE9 Compat Modes */
  src: url('Lickety Split 2015.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lickety Split 2015.woff') format('woff'), /* Modern Browsers */
       url('Lickety Split 2015.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lickety Split 2015.svg#d2a26f594776142a9e8ea24f2e86c6f9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

