/* Webfont: Jabana-Extras-Lines */@font-face {
    font-family: 'JabanaExtrasLines';
    src: url('Jabana-Extras-Lines.eot'); /* IE9 Compat Modes */
    src: url('Jabana-Extras-Lines.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Jabana-Extras-Lines.woff') format('woff'), /* Modern Browsers */
         url('Jabana-Extras-Lines.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Jabana-Extras-Lines.svg#Jabana-Extras-Lines') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

