<div class="main-section" data-bind="with: installation">

	<section class="row">
		<div class="col-xs-12 text-center">
			<h1 class="main-header">{{ name }}</h1>
			<p> {{ weddingDate }} </p>
		</div>

		<!-- ko if: sections.intro -->
			<section-intro></section-intro>
		<!-- /ko -->

		<!-- ko if: sections.weddingParty -->
			<section-wedding-party></section-wedding-party>
		<!-- /ko -->

		<!-- ko if: sections.maps -->
			<section-maps></section-maps>
		<!-- /ko -->

		<!-- ko if: sections.rsvp -->
			<section-rsvp></section-rsvp>
		<!-- /ko -->

	</section>
</div>

