<div id="login-page">

	<div class="login-form">

		<div class="text-center">
			<h3>Wedding Pixie</h3>
			<p>Login to your Account</p>
		</div>

		<form class="form" role="form" accept-charset="UTF-8" data-bind="submit: OnSubmitLogin">
			<div class="form-group">
				<label class="sr-only" for="email">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="Email address" required data-bind="textInput: userEmail">
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password" required data-bind="textInput: userPassword">
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox">
					<small>Keep me logged-in</small>
				</label>
			</div>

			<div class="form-group">
				<button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-out" data-bind="ladda:isSubmitting">
					<span class="ladda-label">Sign In</span>
  				</button>
			</div>
			<div class="form-group">
                <small class="help-block text-center"><a href="">Forgot your password?</a></small>
            </div>
		</form>
		<div class="bottom text-center">
			<small>New here? <a href="www.weddingpixie.com"><b>Join Us</b></a></small>
		</div>

	</div>

</div>

