.DS_Store
node_modules/
bower_modules/

# Don't track build output
build/
dist/
temp/

src/css/

*.sublime-workspace

*.sublime-workspace

wedding-frontend.sublime-workspace


wedding-frontend.sublime-project

src/css/main.css

public/images/test/

index.html

npm-debug.log

.htaccess

.awspublish-wedding-pixie-app-test

.awspublish-wedding-pixie-app
