<section class="row">
	<div class="col-md-2 col-md-offset-5 text-center">
		<hr>
	</div>
</section>

<section class="row" data-bind="attr: { id: containerId }">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="rsvp-block">
			<h2>{{ rsvp.title }} </h2>
			<!-- ko if: rsvp.text -->
				<p>{{ rsvp.text }}</p>
			<!-- /ko -->

			<br>
			<hr>
			<br>

			<form id="rsvp-form" data-bind="moveLabels: true">
				<div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-6 moving-labels">
								<label for="firstName">First name</label>
								<input type="text" id="firstName" class="form-control" data-bind="textInput: firstName" required title="Please enter your first name">
							</div>
							<div class="col-md-6 moving-labels">
								<label for="lastName">Last name</label>
								<input type="text" id="lastName" class="form-control" data-bind="textInput: lastName" required title="Please enter your last name">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-6 moving-labels">
								<label for="emailAddress">Email address</label>
							    <input type="email" id="emailAddress" class="form-control" data-bind="textInput: emailAddress" title="Please enter your email address. This is optional">
							</div>
							<div class="col-md-6 moving-labels">
								<label for="phoneNumber">Phone number</label>
							    <input type="text" id="phoneNumber" class="form-control" data-bind="textInput: phoneNumber" required title="Please enter your phone number">
							</div>
						</div>
		  			</div>

					<div class="form-group rsvp-form--attending">
						<div class="text-center">Will you be attending?</div>
						<div class="row">
							<div class="col-md-6 text-center">
								<label>
									<input type="radio" name="isAttending" value="true" data-bind="checked: isAttending">
									<span>Accept with pleasure</span>
								</label>
							</div>
							<div class="col-md-6 text-center">
								<label>
									<input type="radio" name="isAttending" value="false" data-bind="checked: isAttending">
									<span>Regretfully decline</span>
								</label>
							</div>
						</div>
					</div>

			  		<!-- ko if: isAttending() == 'true' -->
			  			<div class="form-group">
							<div class="row">
				  				<div class="col-md-12 text-center" style="margin-bottom: 40px;">
				  					Excellent! Are you bringing any guests?
				  				</div>
				  				<!-- ko foreach: plusOnes() -->
									<div class="col-md-12 moving-labels">
										<label data-bind="attr: {for: 'guest' + parseInt($index()+1)}">{{ 'Guest #' + parseInt($index()+1) }}</label>
							  	  		<input type="text" class="form-control" data-bind="textInput: name, attr: { id: 'guest' + parseInt($index()+1) }" title="Please enter the full name of your guest">
							  	  		<a data-bind="click: $component.OnClickRemoveGuest" href="#" class="remove-guest">
							  	  			<i class="fa fa-times-circle"></i>
							  	  		</a>
					  				</div>
				  				<!-- /ko -->
				  				<div class="col-md-12">
					  				<button data-bind="click: OnClickAddGuest" class="btn btn-default" id="addGuest">Add another guest?</button>
					  			</div>
				  			</div>
			  	  		</div>

			  			<div class="form-group">
			  				<div class="row">
			  					<div class="col-md-12 moving-labels">
					  				<label for="song">A song that will get you onto the dancefloor</label>
								    <input type="text" id="song" class="form-control" data-bind="textInput: songChoice" title="Your favourite song to get your boogie on">
								</div>
							</div>
			  			</div>
			  	  	<!-- /ko -->

					<div class="form-group">
						<div class="row">
			  				<div class="col-md-12 moving-labels">
								<label for="extraInfo">Your message for the couple (optional)</label>
								<textarea id="extraInfo" rows="3" class="form-control" data-bind="textInput: comment"></textarea>
							</div>
						</div>
					</div>
			  	</div>

			  	<button disabled type="submit" class="ladda-button btn btn-lg btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit, enable: !hasSubmitted()">
			  		<span class="ladda-label" data-bind="text: btnText()"></span>
			  	</button>
			</form>

		</div>
	</div>
</section>
