<section class="row">
	<div class="col-md-2 col-md-offset-5 text-center">
		<hr>
	</div>
</section>

<section class="row" data-bind="attr: { id: containerId }">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="rsvp-block">
			<h2>{{ rsvp.title }} </h2>
			<!-- ko if: rsvp.text -->
				<p>{{ rsvp.text }}</p>
			<!-- /ko -->

			<br>
			<hr>
			<br>

			<form id="rsvp-form">
				<div>
					<p><strong>Hi James & Lucy</strong></p>

					<div class="rsvp-block">
						<!-- <br> -->
						<span>Thanks for your beautiful invitation,</span>
				  		<select id="isAttending" data-bind="value: isAttending">
							<option value="true">I wouldn't miss it for the world!</option>
							<option value="false">I'm afraid I can't make it though.</option>
				  		</select>
					</div>

			  		<!-- ko if: isAttending() == 'true' -->
			  			<div class="rsvp-block">
			  				<span>My invitation said I could bring </span>
				  	  		<select id="guestType" data-bind="value: guestType">
				  				<option value="0">myself</option>
								<option value="1">a date</option>
								<option value="2">my family</option>
				  	  		</select>
			  	  		</div>

						<!-- ko if: guestType() != 0 -->
				  			<div class="rsvp-block">
				  				<span> so I'll be bringing </span>
				  				<!-- ko foreach: new Array(numPermittedGuests()) -->
				  				<div style="margin: 10px 0;">
						  	  		<input type="text" data-bind="attr: { placeholder: 'Guest #' + parseInt($index()+1) }">
				  				</div>
				  				<!-- /ko -->
				  	  		</div>
						<!-- /ko -->
			  	  	<!-- /ko -->

				    <div class="rsvp-block">
					    <span>If you need to contact me, my email address is </span>
					    <input type="email" id="emailAddress" placeholder="youremail@address.com" data-bind="textInput: emailAddress">
		  			</div>

					<div class="rsvp-block">
						<!-- <br> -->
						<!-- ko if: isAttending() == 'true' -->
							<p>Looking forward to the big day!</p>
						<!-- /ko -->
						<!-- ko if: isAttending() == 'false' -->
							<p>I'm sorry I'll miss it, I hope you have a great day!</p>
						<!-- /ko -->
					    <input type="text" id="guestName" placeholder="Your name" data-bind="textInput: guestName">
		  			</div>

					<div class="rsvp-block">
						<!-- <br> -->
						<span>P.S.</span>
						<textarea id="extraInfo" rows="3" placeholder="Your personal message to the couple (optional)" data-bind="textInput: comment"></textarea>
					</div>
			  	</div>

			  	<button disabled type="submit" class="ladda-button btn btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit, enable: !hasSubmitted()">
			  		<span class="ladda-label" data-bind="text: btnText()"></span>
			  	</button>
			</form>

		</div>
	</div>
</section>
