<div id="error-page" class="text-center row">

	<h1>Uh-oh</h1>
	<h2>Something isn't right</h2>

	<div class="text-center col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
		<img src="http://placekitten.com/600/600" class="img-circle img-responsive" alt="error kitty">
	</div>

	<div class="text-center col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
		<p>Here's a picture of a cute kitten for you to look at while we chase the bugs out of our system.</p>
		<p>If you get tired of looking at the kitty please email us at <a href="mailto:support@weddingpixie.com">support@weddingpixie.com</a></p>

		<a href="/" class="btn btn-default">Go Back Home</a>
	</div>


</div>

