<div id="overlay" data-bind="style: { left: app.overlayLeftPos(), width: app.overlayWidth() }">
	<div class="overlay-main">
		<div class="modal-header">
			<span class="close-btn" data-bind="click:Cancel">
				<span class="sr-only">close</span>
			</span>
			<h4 class="modal-title">General Settings</h4>
		</div>
		<form data-bind="css: { hasChanges: isDirty }">
			<div class="modal-body">
				<div class="forms-container">
					<!-- ko if: app.installation.isPaid() && !app.installation.hasCustomDomain() -->
						<div class="form-group" style="margin-bottom: 30px;">
							<label for="title">Website Address</label>
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="input-group">
										<input type="text" id="title" class="form-control text-right" style="letter-spacing: 1px;" placeholder="The adress for your website, e.g. janeandjohn.weddingpixie.com" data-bind="textInput: accountUrl">
										<span class="input-group-addon">.weddingpixie.com</span>
									</div>
									<!-- ko ifnot: isUrlAvailable() -->
										<p class="text-danger url-taken">
											<small>Sorry, this address is already taken</small>
										</p>
									<!-- /ko -->
								</div>
							</div>
						</div>
					<!-- /ko -->
					<div class="form-group">
						<label for="menu-text">Website Design</label>

						<!-- ko if: areThemesLoaded() -->
							<div class="row text-center theme-picker">
								<!-- ko foreach: availableThemes -->
									<div class="col-sm-6 col-md-4 theme-picker--theme" data-bind="css: { 'selected': $component.selectedThemeId() == id }">
										<p>{{name}}</p>
										<img data-bind="attr: { src: 'images/themes/previews/' + className + '.png', alt: className }" class="img-responsive">
										<!--
										<figure class="hover-effect" data-bind="click: $component.OnClickPreviewTheme">
											<img data-bind="attr: { src: 'images/themes/previews/' + className + '.png', alt: className }" class="img-responsive">
											<figcaption>
												<p style="font-size: 20px;">
													<i class="fa fa-eye"></i> <br>
													Preview
												</p>
											</figcaption>
										</figure>
										-->
										<div>
											<label data-bind="attr: { for: className }">
												<i class="fa fa-check-circle"></i>
												<input type="radio" name="selectedTheme" class="hidden-radio" data-bind="checked: $component.selectedThemeId, checkedValue: id, attr: { id: className }">
											</label>
										</div>
									</div>
								<!-- /ko -->
							</div>
						<!-- /ko -->
					</div>
				</div>
			</div>

			<div class="overlay-footer" data-bind="style: { left: app.overlayLeftPos() }">
				<div class="pull-left">
					<button id="overlay-close-btn" class="btn btn-default" data-bind="click: Cancel">Close</button>
				</div>
				<div class="pull-right">
					<button class="ladda-button btn btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit">
						<span class="ladda-label">
							<i class="fa fa-check"></i>
							<strong> {{ btnText }}</strong>
						</span>
					</button>
				</div>
			</div>

		</form>
	</div>
</div>
<div data-bind="template: { afterRender:OnRendered }">
