<div id="overlay" data-bind="style: { left: app.overlayLeftPos(), width: app.overlayWidth() }">
	<div class="overlay-main">
	    <div class="modal-header">
	        <button type="button" class="close" data-bind="click:Cancel"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
	        <h4 class="modal-title">Edit Your Wedding Party</h4>
	    </div>
	    <form data-bind="css: { hasChanges: isDirty }">
		    <div class="modal-body">
		        <div class="forms-container">
					<div class="form-group" style="margin-bottom: 5px;">
						<widget-toggle-switch params="{ value: isVisible, labelText: 'Show this section', style: { marginLeft: '10px' } }"></widget-toggle-switch>
						<!-- ko ifnot: isVisible -->
							<span style="margin-left: 10px; color: #aaa;">This section will not show on your site</span>
						<!-- /ko -->
					</div>

					<div class="form-group">
					    <label>Menu Text</label>
				        <input type="text" class="form-control" data-bind="textInput: menuText, enable: isVisible">
					</div>

					<div class="groups">
						<!-- ko foreach: groups -->
							<div class="form-group">
							    <label data-bind="text: 'Group #' + parseInt($index()+1) + ' Title'">Group #1 Title</label>
						        <input type="text" class="form-control" data-bind="textInput: title, enable: $component.isVisible">
							</div>

							<div class="form-group">
								<strong data-bind="text: title">People</strong>
							</div>

							<div class="people">
								<!-- ko foreach: people -->
									<div class="form-group wedding-party-person">
										<!-- ko ifnot: isEditing -->
											<div class="form-inline clearfix">
												<p>{{ name }}</p>

												<span class="pull-right">
											        <button class="btn btn-primary" data-bind="click: ToggleEdit, enable: $component.isVisible">
											        	<i class="fa fa-pencil"></i> Edit
											        </button>
											        <button class="btn btn-danger" data-bind="click: $parent.removePerson, enable: $component.isVisible">
											        	<i class="fa fa-trash-o"></i> Remove
											        </button>
												</span>
											</div>
										<!-- /ko -->

										<!-- ko if: isEditing() && $component.isVisible() -->
											<br>

											<div class="form-horizontal">
												<div class="form-group">
												    <label class="col-sm-2 control-label" data-bind="attr: { for: 'person-name-' + id }">Name</label>
												    <div class="col-sm-10">
														<input type="text" class="form-control" data-bind="textInput: name, enable: $component.isVisible, attr: { id: 'person-name-' + id }">
												    </div>
												</div>
												<div class="form-group">
												    <label class="col-sm-2 control-label" data-bind="attr: { for: 'person-desc-' + id }">Description</label>
												    <div class="col-sm-10">
												        <textarea class="form-control" rows="4" data-bind="textInput: text, enable: $component.isVisible, attr: { id: 'person-desc-' + id }" placeholder="Some info about this person..."></textarea>
												    </div>
												</div>
												<div class="form-group">
												    <label class="col-sm-2 control-label" data-bind="click: $component.OnClickEditImage" style="margin-top: 25px;;">Image</label>
												    <div class="col-sm-10">
														<figure class="user-preview hover-effect" data-bind="click: $component.OnClickEditImage, attr: { id: 'person-img-' + id }">
															<img src="https://maxcdn.icons8.com/iOS7/PNG/25/Users/user_male_circle_filled-25.png" width="100" height="100" class="circle" data-bind="attr: { src: imageUrl, alt: name }" />
															<figcaption class="circle">
																<p>
																	<i class="fa fa-pencil"></i> Edit
																</p>
															</figcaption>
														</figure>
												    </div>
												</div>
												<div class="form-group">
												    <div class="col-sm-offset-2 col-sm-10">
														<button class="btn btn-primary pull-right" data-bind="click: ToggleEdit, enable: $component.isVisible">
															<i class="fa fa-check"></i> Done
														</button>
												    </div>
												</div>

											</div>
										<!-- /ko -->
									</div>
								<!-- /ko -->
							</div>

							<div class="form-group clearfix">
								<div class="form-inline">
							        <button class="btn btn-success pull-right" data-bind="click: $component.AddPerson, enable: $component.isVisible">
							        	<i class="fa fa-plus"></i> Add Person
							        </button>
								</div>
							</div>
						<!-- /ko -->
					</div>
		        </div>
		    </div>
		    <div class="overlay-footer" data-bind="style: { left: app.overlayLeftPos() }">
		        <div class="pull-left">
		            <button id="overlay-close-btn" class="btn btn-default" data-bind="click: Cancel">Close</button>
		        </div>
		        <div class="pull-right">
		            <button class="ladda-button btn btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit">
		            	<span class="ladda-label">
		            		<i class="fa fa-check"></i>
		            		<strong> {{ btnText }}</strong>
		            	</span>
		            </button>
		        </div>
		    </div>
		</form>
	</div>
</div>
<div data-bind="template: { afterRender:OnRendered }">
