<div class="image-uploader">
	<!-- ko if: previewImgSrc() != null -->
		<img data-bind="click: OnClickToggleEdit, attr: { src: previewImgSrc, id: imgId }" class="file-upload-image img-responsive" crossOrigin="anonymous">
	<!-- /ko -->
	<input type="file" data-bind="attr: { id: inputId }" class="file-upload-input" style="display:none">

	<div class="image-uploader-options">
		<!-- ko ifnot: isEditing -->
			<!-- ko if: imageSrc() != null -->
				<button class="btn btn-primary" data-bind="click: OnClickToggleEdit">
					<i class="fa fa-pencil"></i> Edit image
				</button>

				<button class="btn btn-default" data-bind="click: OnClickFilePicker">
					<i class="fa fa-cloud-upload"></i> Select a new image
				</button>
			<!-- /ko -->
			<!-- ko if: imageSrc() == null -->
				<button class="btn btn-default" data-bind="click: OnClickFilePicker">
					<i class="fa fa-cloud-upload"></i> Select an image
				</button>
			<!-- /ko -->
			<!-- ko if: defaultImages.length -->
				<button class="btn btn-default" data-bind="click: OnClickUseDefault">
					<i class="fa fa-cloud-upload"></i> Use a default image
				</button>
			<!-- /ko -->
		<!-- /ko -->
		<!-- ko if: isEditing -->
			<button class="btn btn-danger" data-bind="click: OnClickToggleEdit">
				<i class="fa fa-times"></i> Cancel Editing
			</button>
		<!-- /ko -->
	</div>
</div>
