<div id="admin-panel-content">

	<ul id="admin-options">
		<li class="editor">
			<a href="/editor" data-bind="click: OnClickSection">
				<i class="fa fa-desktop" style="margin-right: 4px;"></i> Site Editor
			</a>

			<ul data-bind="slideVisible: (selectedSection() === 'editor')">
				<li>
					<a href="/editor/home" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'editor-home' }">
						Home
					</a>
				</li>
				<li>
					<a href="/editor/intro" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'editor-intro' }">
						About
					</a>
				</li>
				<li>
					<a href="/editor/weddingparty" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'editor-weddingparty' }">
						Wedding Party
					</a>
				</li>
				<li>
					<a href="/editor/maps" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'editor-maps' }">
						Locations
					</a>
				</li>
				<li>
					<a href="/editor/rsvp" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'editor-rsvp' }">
						RSVP
					</a>
				</li>
			</ul>
		</li>

		<li class="settings">
			<a href="/settings" data-bind="click: OnClickSection">
				<i class="fa fa-cog" style="margin-right: 7px;"></i> Settings
			</a>

			<ul data-bind="slideVisible: (selectedSection() === 'settings')">
				<li>
					<a href="/settings/general" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'settings-general' }">
						General
					</a>
				</li>
				<li>
					<a href="/settings/account" data-bind="click: OnClickSection, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'settings-account' }">
						Account
					</a>
				</li>
			</ul>
		</li>

	</ul>

</div>
