<div id="admin-panel-content">
	<!-- <h3>Logo</h3> -->
	<img src="images/logo-white.png" style="width:120px; margin: 30px;"/>

	<ul id="admin-options">
		<li class="editor">
			<a href="javascript:;">
				<i class="fa fa-edit"></i> Site Editor
			</a>
			<ul>
				<li>
					<a href="javascript:;" data-bind="click: OnClickEditIntro, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'edit-intro' }">
						- Home
					</a>
				</li>
				<li>
					<a href="javascript:;" data-bind="click: OnClickEditWeddingParty, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'edit-wedding-party' }">
						- Wedding Party
					</a>
				</li>
				<li>
					<a href="javascript:;" data-bind="click: OnClickEditLocations, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'edit-locations' }">
						- Locations
					</a>
				</li>
				<li>
					<a href="javascript:;" data-bind="click: OnClickEditRsvp, css: { selected: app.overlayToShow() != null && app.overlayToShow().name == 'edit-rsvp' }">
						- RSVP
					</a>
				</li>
			</ul>
		</li>
		<!-- Will manage without this section a while I think
		<li class="my-account">
			<a href="javascript:;">
				<i class="fa fa-user"></i> My Account
			</a>
		</li>
		-->
		<li class="sign-out">
			<a href="javascript:;" data-bind="click: OnClickLogOut">
				<i class="fa fa-sign-out"></i> Sign Out
			</a>
		</li>
	</ul>
</div>

