<div id="admin-panel-content">
	<h3>Logo</h3>

	<ul id="admin-options">
		<li>
			<a href="javascript:;" data-bind="click: OnClickEditOption">
				Welcome Message
			</a>
		</li>
		<li>
			<a href="javascript:;" data-bind="click: OnClickEditOption">
				Wedding Party
			</a>
		</li>
		<li>
			<a href="javascript:;" data-bind="click: OnClickEditOption">
				Locations
			</a>
		</li>
		<li>
			<a href="javascript:;" data-bind="click: OnClickEditOption">
				RSVP
			</a>
		</li>
		<li>
			<a href="javascript:;" data-bind="click: OnClickEditOption">
				Option 5
			</a>
		</li>
		<li>
			<a href="javascript:;" data-bind="click: OnClickEditOption">
				Option 6
			</a>
		</li>
	</ul>
</div>

