<div class="image-uploader">
	<img data-bind="click: OnClickToggleEdit, attr: { src: previewImgSrc, id: imgId }" class="file-upload-image img-responsive" crossOrigin="Anonymous">
	<input type="file" data-bind="attr: { id: inputId }" class="file-upload-input" style="display:none">

	<div class="image-uploader-options">
		<button class="btn btn-primary" data-bind="click: OnClickToggleEdit">{{ editBtnText }}</button>
		<!-- ko ifnot: isEditing -->
			<button class="btn btn-default" data-bind="click: OnClickFilePicker">Select a new Image</button>
		<!-- /ko -->
	</div>
</div>
