<section class="row">
	<div class="text-center">
		<hr>
	</div>
</section>

<div class="col-md-6 col-md-offset-3 text-center" data-bind="attr: { id: containerId }">
	<h2>{{ title }}</h2>
</div>

<section class="locations">
	<div class="row">
		<!-- ko foreach: maps -->
			<div class="col-md-6 text-center">
				<div class="locations--location">
					<img src="images/event-party.jpg" class="location-img img-responsive"/>
					<div class="location-info">
						<span class="location-icon">
							<i class="fa fa-glass"></i>
						</span>
						<h4>{{ title }}</h4>
						<p>{{ description }}</p>
					</div>
				</div>

			</div>
		<!-- /ko -->
	</div>
</section>

<widget-map params="locationsArray: maps, mapHeight: '400px'"></widget-map>
