body {
	padding-bottom: 80px;
}
.main-section {
	margin-top: 160px;
}

.map {
	height: 400px;
}

#rsvp-form {
	text-align: left;
	font-size: 16px;
	.rsvp-block {
		margin: 10px 0;
	}
	select, option {
		-webkit-appearance: none;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	    border: 0 none;
	    background: transparent;
	    text-decoration: underline;
	    cursor: pointer;
	    border-radius: 0;
	    background-color: #eee;
	    padding: 2px 10px;
	}
	input {
		background: #eee;
		box-shadow: none;
		-webkit-appearance: none;
		outline: none;
		border: 0 none;
		padding: 2px 10px;
	}
	textarea {
		border: 0 none;
		background: #eee;
		resize: none;
		width: 100%;
	}
}