body {
	padding-bottom: 80px;
	font-size: 18px;
	letter-spacing: 1px;
	&.no-scroll {
		overflow: hidden;
	}
}

h2 {
	margin: 60px 0;
}

p {
	line-height: 1.6em;
}

/* Replace broken image icon */
img {
	font-family: 'Helvetica';
	font-weight: 300;
	line-height: 2;
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}
img:after {
	content: "\f1c5";
	font-size: 32px;
	font-family: FontAwesome;
	color: rgb(100, 100, 100);
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding-top: calc(50% - 16px);
	line-height: 32px;
}

/*
#test-logo {
	#word1 {
		font: 20px Fairy_Tales;
	    display: block;
	    line-height: 1em;
	    margin-left: -31px;
	    color: #666;
	}
	#word2 {
	    font: 50px Fairy_Tales;
	    display: block;
	    color: #9575CD;
	    margin-top: -22px;
	}
}
*/

// Shows an "edit" msg when hovering on an image
figure.hover-effect {
	position: relative;
	display: inline-block;
	cursor: pointer;
	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.3s linear;
		p {
		    top: 50%;
		    position: absolute;
		    text-align: center;
		    width: 100%;
		    color: #ccc;
		    font-size: 12px;
		    opacity: 0;
		    transition: opacity 0.3s linear;
		}
		&:hover {
			background: rgba(0,0,0,0.4);
			p {
				opacity: 1;
			}
		}
	}
}

#page-footer {
	border-top: 1px solid #ccc;
    margin-top: 60px;
    padding: 10px;
    p {
		font-size: 12px;
		margin: 0;
    }
    a {
		color: #333;
		text-decoration: underline;
    }
}

#preloader {
	position: fixed;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	background: #fff;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-align: center;
	padding: 200px 0;
	&.white {
		color: #fff;
		background: transparent;
	}
	p {
		margin-top: 20px;
		font: 24px 'Quicksand', Helvetica, sans-serif;
	}
}

#main-nav {
	transition: all 0.4s linear;
}

.popover {
	color: #333;
    font-size: 14px;
    font-weight: normal;
}

#modalConfirmBtn {
	padding-left: 30px;
	padding-right: 30px;
}

.main-section {
	//margin-top: 160px;
}

.map {
	height: 400px;
}
.map-text {
	//background: #333;
	//color: #fff;
	padding: 30px 30px 40px;
}

.navbar {
	font-size: 16px;
	transition: left 0.4s linear;
	&.open {
		left: 260px;
	}
	.container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	.navbar-toggle {
		border-color: transparent;
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}


.hamburger-btn {
	width: 16px;
	height: 16px;
	position: relative;
	display: block;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .8s ease-in-out;
	-moz-transition: .8s ease-in-out;
	-o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: #fff;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
}



/* Animated hanburger menu */
.admin-toggle {
	position: relative;
	float: left;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
}

.hamburger-btn span:nth-child(1) {
  top: 0px;
}

.hamburger-btn span:nth-child(2),.hamburger-btn span:nth-child(3) {
  top: 5px;
}

.hamburger-btn span:nth-child(4) {
  top: 10px;
}

.hamburger-btn.open span:nth-child(1) {
  top: 5px;
  width: 0%;
  left: 50%;
}

.hamburger-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger-btn.open span:nth-child(4) {
  top: 5px;
  width: 0%;
  left: 50%;
}







#admin-holder {
	background: #a94274;
	width: 260px;
	position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
	color: #fff;
	font-size: 14px;
	font-family: 'Quicksand', Helvetica, sans-serif;

	z-index: 1000;
	.open {
		left: 0px;
	}
	h3 {
		margin: 20px 35px;
	}
}
#admin-panel-content ul {
	list-style: none;
	padding-left: 0;
	li {
		text-transform: uppercase;
		a {
			color: #fff;
			display: block;
		    padding: 8px 35px;
		    &:hover {
		    	text-decoration: none;
		    	background: rgba(0,0,0,0.1);
		    }
		    &:active, &:visited, &:focus {
		    	text-decoration: none;
		    	outline: none;
		    	color: #fff;
		    }
		    &.selected {
		    	background: rgba(0,0,0,0.2);
		    }
		}
	}
	ul {
		a {
			padding-left: 70px;
		}
	}
}

#page-holder {
	position: absolute;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 1000;
	transition: left 0.4s linear;
	&.open {
		left: 260px;
	    //box-shadow: 11px 0px 18px 15px rgba(0,0,0,0.4);
	}
}

#overlay {
	position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
	z-index: 1000;
	overflow-y: auto;
	background: #fff;
	font-size: 14px;

	#overlay-bg {
		background: #333;
	    opacity: 0.95;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    bottom: 0;
	}
	#overlay-main {
		height: 375px;
	    overflow: auto;
	}

	.modal-header {
		position: relative;
	}
	.modal-body {
		padding: 20px 15px;
	}
	.overlay-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin-top: 15px;
		padding: 20px 25px;
		text-align: right;
	    z-index: 9999999;
	}
	.close {
		font-size: 24px;
		opacity: 0.8;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		filter: alpha(opacity=80);
	}
}

.moving-labels {
	position: relative;
	margin-bottom: 40px;
	label {
		position: absolute;
	    z-index: 1;
	    top: 4px;
	    left: 25px;
	    font-size: inherit;
	    color: inherit;
	    margin: 0;
	    opacity: .75;
	    transition: all .25s;
	    &.moved {
			top: -25px;
			font-size: 12px;
			color: #2491e5;
		    font-weight: 700;
	    }
	}
	input {
		position: relative;
		z-index: 2;
		background-color: transparent !important;
		transition: background-color 50000s ease-in-out 0s, border-bottom-color .25s; // hides the yellow colour on autofilled inputs
	}
}

#home-container {
    float: left;
    width: 100%;
    padding-top: 120px;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-block {
	margin-top: 80px;
}

#rsvp-form {
	text-align: left;
	font-size: 18px;
	.form-group {
		margin-bottom: 0;
	}
	.no-outer-padding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.rsvp-form--attending {
		margin-bottom: 40px;

		label {
			width: 100%;
			margin-top: 20px;
			&.highlight-bg {
				span, i {
					color: #fff;
				}
			}
			span, i {
				display: block;
			}
			i {
				font-size: 20px;
				margin: 5px 0;
			}
		}

		input[type=radio] {
		    border: 0;
		    clip: rect(0 0 0 0);
		    height: 1px;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    width: 1px;
		}
	}
	label {
		font-weight: normal;
	}
	input[type='text'], input[type='email'] {
		font-size: 18px;
		box-shadow: none;
		-webkit-appearance: none;
		outline: none;
		padding: 2px 10px;
		border: 0 none;
		border-bottom: 1px solid #aaa;
		border-radius: 0;
	}
	textarea {
		font-size: 18px;
		outline: none;
		border: 1px solid #aaa;
		border-radius: 0;
		background: #fafafa;
		resize: none;
		width: 100%;
		background-color: transparent;
	}
	button {
		width: 100%;
	}
	.remove-guest {
		position: absolute;
		top: 7px;
		right: 20px;
		color: #666;
		z-index: 3;
	}
	#addGuest {
		margin-bottom: 40px;
	}
}

.circle {
	border-radius: 100%;
}


/*
Edit user images in wedding party section
*/

.user-preview {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin-right: 20px;
	cursor: pointer;
}

.wedding-party-person {
	border-bottom: 1px solid #efefef;
	padding: 0 0 10px;
	margin: 10px 0;
	p {
		font-size: 14px;
		display:inline;
		float: left;
		padding: 6px 0;
		margin: 0;
	}
}

/**** Login Pages ****/
.page-login, .page-forgot-password, .page-reset-password {
	background: url(../images/couple-feet.jpg) no-repeat center center fixed;
	background-size: cover;
	#page-holder {
		font-size: 14px;
		background: transparent;
	}
	.login-form {
		width: 320px;
		margin: 80px auto;
		background: #fff;
		padding: 30px 30px 5px 30px;
		form {
			margin: 20px 0;
		}
		.bottom {
			border-top: 1px solid #ddd;
		    margin: 10px -30px 0;
		    padding: 10px 10px 5px;
		}
	}
	#email, #password, #confirmation {
		border-top: 0 none;
		border-right: 0 none;
		border-left: 0 none;
		border-radius: 0;
		box-shadow: none;
		padding: 0 5px;
	}
}

/**** 404 Page ****/
#notfound-page {
	padding-top: 140px;
	h1 {
		font: 24px 'Quicksand', Helvetica, sans-serif;
	}
	h2 {
		margin: 20px 0;
		font: 120px 'Roboto', Helvetica, sans-serif;
	}
	p {
		font-size: 14px;
		margin-bottom: 40px;
	}
}

/**** Generic Error Page ****/
#error-page {
	padding-top: 40px;
	h1 {
		font: 100px 'Roboto', Helvetica, sans-serif;
	}
	h2 {
		margin: 0 0 20px;
		font: 24px 'Quicksand', Helvetica, sans-serif;
	}
	p {
		font-size: 14px;
	}
	p:last-of-type {
		margin-bottom: 40px;
	}
	img {
		margin-bottom: 20px;
	}
}


/**** Text Editor ****/
// This class is used so that the paragraph will inherit the quill styles for things like text-align etc.
// Quill recommend using a text editor instance in read-only mode for this but it seems like overkill to me
.ql-editor.fake {
	padding: 0;
}
.text-editor-container.disabled {
	.ql-toolbar, .ql-container {
		background: #eee;
	}
}

/**** Toastr Messages ****/
#toast-container {
	font-size: 14px;
}

/**** Toggle Switch ****/
.toggleswitch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    vertical-align: middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.toggleswitch-checkbox {
    display: none;
}
.toggleswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 24px;
    padding: 0;
    line-height: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    background-color: #F5F5F5;
    transition: background-color 0.3s ease-in;
}
.toggleswitch-label:before {
    content: "";
    display: block;
    width: 24px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    transition: all 0.3s ease-in 0s;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.toggleswitch-checkbox:checked + .toggleswitch-label {
    background-color: #449D44;
}
.toggleswitch-checkbox:checked + .toggleswitch-label, .toggleswitch-checkbox:checked + .toggleswitch-label:before {
   border-color: #449D44;
}
.toggleswitch-checkbox:checked + .toggleswitch-label:before {
    right: 0px;
}

/**** Image Uploader ****/
.file-upload-input {
	font-size: 14px;
    line-height: 1em;
    margin: 10px 0;
}
.file-upload-image {
	cursor: pointer;
}
.darkroom-container {
	background: #000;
    margin-bottom: 50px;
}
.darkroom-toolbar {
	bottom: -40px;
	top: auto;
	right: 0;
	border-radius: 0;
	background: #000;
	&:before {
		border: 0 none;
	}
}
.canvas-container {
	margin: 0 auto;
}
.image-uploader img {
	max-width: 100%;
}
.image-uploader-options {
	margin-top: 10px;
}


// Rome datepicker fix
.rd-container {
    z-index: 99999;
    padding: 20px;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
    font-size: 12px;
}
.rd-days {
    th, td {
        padding: 3px;
    }
}
.rd-back, .rd-next {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.rd-back:before {
    content: '\f053';
}
.rd-next:before {
    content: '\f054';
}

footer .fa-heart {
	color: #d32f2f;
}

.pulse {
	animation: pulse 2s linear infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
