//mixin with all css that depends on your theme
.setupThemeCss() {

	.serif() {
		font-family: @serifFamily;
	}
	.sansSerif() {
		font-family: @sansSerifFamily;
	}
	.displayFont() {
		font-family: @displayFamily;
	}
	.highlightColor() {
		color: @highlightColor;
	}
	.highlightBG() {
		background-color: @highlightColor !important;
	}

	.serif {
		.serif()
	}
	.sansSerif {
		.sansSerif()
	}
	.highlight-color {
		.highlightColor()
	}
	.highlight-bg {
		.highlightBG()
	}

	color: @textColor;
	background: @backgroundColor;

	#main-nav {
		background: @backgroundColor;
		a {
			color: lighten(@textColor, 10%);
			&:hover {
				color: @textColor;
			}
		}
		.hamburger-btn span {
			background: @textColor;
		}
	}

}

