//mixin with all css that depends on your theme
.setupThemeCss() {

	.serif() {
		font-family: @serifFamily;
	}
	.sansSerif() {
		font-family: @sansSerifFamily;
	}
	.displayFont() {
		font-family: @displayFamily;
	}
	.highlightColor() {
		color: @highlightColor;
	}
	.highlightBG() {
		background-color: @highlightColor;
	}

	.serif {
		.serif()
	}
	.sansSerif {
		.sansSerif()
	}
	.highlight-color {
		.highlightColor()
	}
	.highlight-bg {
		.highlightBG()
	}

	color: @textColor;
	background: @backgroundColor;

	h1.main-header {
	    .displayFont();
	    font-size: 100px;
	    color: #fff;
	    text-shadow: 2px 2px 2px #333;
	    span {
	    	.sansSerif();
	    	display: block;
	    	margin: 10px 0;
	    	text-transform: uppercase;
	    	letter-spacing: 5px;
	    	font-size: 20px;
	    	color: #fff;
	    }
	}
	#home-container {
		p {
			color: #fff;
			text-shadow: 1px 1px 1px #333;
		}
	}

	nav.solid-bg {
		background: #fff;
		a {
			color: #666;
			&:hover {
				color: #333;
			}
		}
	}

}

