/* Everything in here will only be applied after the LESS has been compiled and the page has been rendered, as the theme class name
	is only applied after the frontend has loaded and the installationInfo API call has returned. This means that everything in here needs
	to overwrite the existing "blank" styles that a site with no template class would have. It also means that you can't reference any of the
	variables in this file anywhere else as they won't be initialized until after the LESS is compiled.
*/
.classic {
	@textColor: #333;
	@backgroundColor: #fff;
	@highlightColor: #629D93;
	@serifFamily: @quincy;
	@sansSerifFamily: @lato;
	@displayFamily: @baurbon;
	@headerFamily: @montserrat;

	.setupThemeCss();


	// These rules are specific to this theme
	nav {
		font-family: @headerFamily;
		text-transform: uppercase;
	}

	// Main nav is transparent with white text until you scroll, then white BG with black text
	#main-nav {
		background: transparent;
		a {
			color: #fff;
			text-shadow: 0 0 2px #000;
			transition: all 0.2s ease-in;
			&:hover {
				color: #fff;
				text-shadow: 0 0 5px #000;
			}
		}
		.hamburger-btn span {
			background: #fff;
		}
		&.solid-bg, &.dropdown-open {
			background: #fff;
			box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.8);
			@media(min-width:768px) {
				box-shadow: none;
			}
			a {
				color: #666;
				text-shadow: none;
				&:hover {
					color: #333;
					text-shadow: none;
				}
			}
			.hamburger-btn span {
				background: #666;
			}
		}
	}

	h2 {
		text-transform: uppercase;
		font-family: @headerFamily;
		letter-spacing: 8px;
	}

	h1.main-header {
	    .displayFont();
	    font-size: 100px;
	    color: #fff;
	    text-shadow: 2px 2px 2px #333;
	    span {

	    }
	}
	.home-container {
		background-color: #5f9ea0; // this is just a placeholder BG color until the BG image loads
		background-image: url('/images/couple-car-darkened.jpg');
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		width: inherit;
		.sub-container {
			position: absolute;
			bottom: 60px;
		    left: 0;
		}
		@media (min-width: 370px) {
			.sub-container {
				bottom: 150px;
			}
		}
		p {
			color: #fff;
			text-shadow: 1px 1px 1px #333;
		}
	}

	.tab-content {
		margin: 10px 0 30px;
		padding-top: 20px;
		border-top: 1px solid fade(@textColor, 20%);
		img.wedding-person {
			border-radius: 50%;
		}
	}
}

.victoria {
	@textColor: #6a6055;
	@backgroundColor: #EBE8D8;
	@highlightColor: #6a6055;
	@serifFamily: @quincy;
	@sansSerifFamily: @lato;
	@displayFamily: @tangerine;
	@headerFamily: @montserrat;

	.setupThemeCss();
	.serif();

	// These rules are specific to this theme
	nav {
		font-family: @headerFamily;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-family: @headerFamily;
		letter-spacing: 8px;
	}

	hr {
		border: 0;
		height: 50px;
		background-image: url('/images/themes/victoria/hearts-arrow.png');
		background-repeat: no-repeat;
		background-position: 50%;
		&.minor {
			width: 160px;
		}
	}

	#page-holder {
		background-color: @backgroundColor;
	}

	h1.main-header {
	    .displayFont();
	    font-size: 100px;
	    color: @highlightColor;
	    letter-spacing: 5px;
	    &:before {
    	    content: '';
		    display: inline-block;
		    width: 100%;
		    height: 140px;
		    background-image: url('/images/themes/victoria/curly-brace-top.png');
		    background-repeat: no-repeat;
		    background-position: 50%;
			background-size: contain;
	    }
	}
	p.wedding-date:after {
    	content: '';
    	display: inline-block;
    	width: 100%;
    	height: 140px;
    	background-image: url('/images/themes/victoria/curly-brace-bottom.png');
    	background-repeat: no-repeat;
    	background-position: 50%;
		background-size: contain;
	}
	.home-container {
		padding-top: 150px;
	}

	.tab-content {
		margin: 10px 0 30px;
		padding-top: 20px;
		border-top: 1px solid fade(@textColor, 20%);
		img.wedding-person {
			border-radius: 50%;
		}
	}

	.map-instructions {
		p {
			color: lighten(@textColor, 25%);
		}
	}

	.rsvp-form--attending label {
		background-color: darken(@backgroundColor, 5%);
		color: @textColor;
	}

}

.atlantic {
	@textColor: #58595B;
	@backgroundColor: #fff;
	@highlightColor: #263f75;
	@serifFamily: @quincy;
	@sansSerifFamily: @lato;
	@displayFamily: @tangerine;
	@headerFamily: @quincy;

	.setupThemeCss();
	.serif();

	// These rules are specific to this theme
	nav {
		font-family: @headerFamily;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-family: @headerFamily;
		letter-spacing: 6px;
	    display: inline-block;
	    background-color: @highlightColor;
	    color: #fff;
	    position: relative;
	    border: 1px solid #fff;
		padding: 4px 24px;
		font-size: 28px;
	    &:after {
	    	content: '';
	    	display: inline-block;
	    	background-image: url('/images/themes/atlantic/ribbon-right.png');
	    	background-repeat: no-repeat;
	    	background-position: 0 0;
	    	background-size: contain;
	    	position: absolute;
	    	width: 60px;
	    	height: 30px;
	    	top: 12px;
	    	right: -40px;
	    	z-index: -1;
	    }
	    &:before {
	    	content: '';
	    	display: inline-block;
	    	background-image: url('/images/themes/atlantic/ribbon-left.png');
	    	background-repeat: no-repeat;
	    	background-position: 0 0;
	    	background-size: contain;
	    	position: absolute;
	    	width: 60px;
	    	height: 30px;
	    	top: 12px;
	    	left: -40px;
	    	z-index: -1;
	    }
	}

	#page-holder {
		background-color: @backgroundColor;
	}

	h1.main-header {
	    .displayFont();
	    font-size: 100px;
	    color: @textColor;
	    letter-spacing: 5px;
	    margin-top: 180px;
	    margin-bottom: 20px;
	}

	.home-container {
		padding-top: 0;
		background-image: url('/images/themes/atlantic/zig-zag.png');
    	background-repeat: repeat;
    	background-position: 0 0;
    	background-size: inherit;
    	position: relative;
    	border-bottom: 1px solid #eee;
		margin-left: -15px;
	    margin-right: -15px;
	    width: inherit;
    	.sub-container {
    		background: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 50%;
			border-top: 8px solid #ef3f42;
    	}
    	.initials {
    		background: url('/images/themes/atlantic/anchor@2x.png');
    		background-repeat: no-repeat;
	    	background-position: 0 0;
	    	background-size: contain;
    		width: 280px;
    		height: 280px;
		    position: absolute;
		    top: -140px;
		    left: calc(~"50% - 140px");
		    font-family: @brixton;
		    font-size: 50px;
    		.initial {
				color: #fff;
				position: absolute;
				width: 60px;
				top: 100px;
				left: 68px;
				text-align: center;
				&.second {
					left: 150px;
				}
    		}
    	}
	}

	.tab-content {
		margin: 10px 0 30px;
		padding-top: 20px;
		border-top: 1px solid fade(@textColor, 20%);
		img.wedding-person {
			border-radius: 50%;
		}
	}

	.rsvp-form--attending label {
		background-color: darken(@backgroundColor, 5%);
		color: @textColor;
	}

}

.flora {
	@textColor: #6a6055;
	@backgroundColor: #fff;
	@highlightColor: #a267a0;
	@serifFamily: @quincy;
	@sansSerifFamily: @lato;
	@displayFamily: @foxInTheSnow;
	@headerFamily: @josefin;

	.setupThemeCss();
	.serif();

	// These rules are specific to this theme
	nav {
		font-family: @headerFamily;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-family: @headerFamily;
		letter-spacing: 8px;
	}

	hr {
		border: 0;
		height: 40px;
		background-image: url('/images/themes/flora/heartgraphic.png');
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		position: relative;
		opacity: 0.5;
		&::before {
			content: '';
		    position: absolute;
		    left: 0;
		    top: 17px;
		    border-top: 1px solid rgba(0,0,0,0.1);
		    width: calc(~"50% - 25px");
		}
		&::after {
			content: '';
		    position: absolute;
		    right: 0;
		    top: 17px;
		    border-top: 1px solid rgba(0,0,0,0.1);
		    width: calc(~"50% - 25px");
		}
		&.minor {
			width: 160px;
		}
	}

	#page-holder {
		background-color: @backgroundColor;
	}

	h1.main-header {
	    .displayFont();
	    font-size: 80px;
	    letter-spacing: 5px;
	    &:before {
    	    content: '';
		    display: inline-block;
		    width: 100%;
		    height: 180px;
		    background-image: url('/images/themes/flora/flowers2.png');
		    background-repeat: no-repeat;
		    background-position: 50%;
			background-size: contain;
	    }
	}

	p.wedding-date {
		font-family: @headerFamily;
		margin-top: 20px;
		letter-spacing: 3px;
		&:after {
	    	content: '';
	    	display: inline-block;
	    	width: 100%;
	    	height: 80px;
	    	background-image: url('/images/themes/flora/heartgraphic.png');
	    	background-repeat: no-repeat;
	    	background-position: 50%;
			background-size: contain;
			margin-top: 20px;
		}
	}

	.home-container {
		padding-top: 150px;
	}

	.tab-content {
		margin: 10px 0 30px;
		padding-top: 20px;
		border-top: 1px solid fade(@textColor, 20%);
		img.wedding-person {
			border-radius: 50%;
		}
	}

	.map-instructions {
		p {
			color: lighten(@textColor, 25%);
		}
	}

	.rsvp-form--attending label {
		background-color: darken(@backgroundColor, 5%);
		color: @textColor;
	}
	.rsvp-block:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 60px;
		background-image: url('/images/themes/flora/flowers.png');
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		margin-top: 70px;
		filter: grayscale(0.5);
	}

}
