@font-face {
  font-family: 'Saturnight';
  src: url('Saturnight.eot'); /* IE9 Compat Modes */
  src: url('Saturnight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Saturnight.woff') format('woff'), /* Modern Browsers */
       url('Saturnight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Saturnight.svg#40578e5c2c0b2f8b33483bccbe59ef98') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


body {
font-size: 64px;
margin: 40px;
text-rendering: optimizelegibility;
text-align: center;
}

h1, h2, h3, h4, h5 {
font-weight: normal;
}

h1 {
font-size: 180px;
}