<div id="overlay" data-bind="style: { left: app.overlayLeftPos(), width: app.overlayWidth() }">
	<div id="overlay-main">
		<div class="modal-header">
			<button type="button" class="close" data-bind="click:Close"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
			<h4 class="modal-title">Edit Your Locations</h4>
		</div>
		<div class="modal-body">
			<div class="forms-container">
				<div class="form-group">
					<label for="map-title">Section Title</label>
					<input type="text" id="map-title" class="form-control" data-bind="textInput: title">
				</div>
				<div class="form-group">
					<label for="menu-text">Menu Text</label>
					<input type="text" id="menu-text" class="form-control" data-bind="textInput: menuText">
				</div>

				<!-- ko foreach: locations -->
					<hr>
					<div class="form-group">
						<label>
							{{ 'Map #' + parseInt($index()+1) + ' Location' }}
							<span
								class="glyphicon glyphicon-info-sign"
								aria-hidden="true"
								data-toggle="popover"
								data-trigger="hover"
								title="Entering a location"
								data-content="Type the address below and click 'View on map' to set your location. If you need to adjust the location on the map, you can drag the marker to your chosen location. Press the + and - buttons on the map to zoom in and out, and drag the map to move it's location."
							></span>
						</label>

						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter the address of your venue" data-bind="textInput: address">
				            <span class="input-group-btn">
								<button class="btn btn-primary" type="button" data-bind="click: updateGoogleMapLocation">
			              			<span class="glyphicon glyphicon-screenshot"></span>
									View on map
			              		</button>
			              	</span>
			            </div>

						<br>
						<widget-map params="map: $data, mapHeight: '300px', isEditMode: true"></widget-map>
						<br>

						<div class="form-group">
							<label data-bind="text: 'Map #' + parseInt($index()+1) + ' Title', attr: { for: 'map-title-' + id() }">Map Title</label>
							<input type="text" data-bind="attr: { id: 'map-title-' + id() }, textInput: title" class="form-control">
						</div>
						<div class="form-group">
							<label data-bind="text: 'Map #' + parseInt($index()+1) + ' Description', attr: { for: 'map-desc-' + id() }">Map Description</label>
							<textarea class="form-control" rows="6" data-bind="textInput: description, attr: { id: 'map-desc-' + id() }"></textarea>
						</div>
						<div class="form-group align-right">
								<button class="btn btn-danger" data-bind="click: $component.OnClickDeleteMap">Delete this Location</button>
						</div>
					</div>
				<!-- /ko -->

				<hr>
				<div class="form-group">
					<div class="form-inline">
				        <button class="btn btn-success" data-bind="click: AddLocation">Add New Location</button>
					</div>
				</div>

			</div>
		</div>

		<div class="overlay-footer" data-bind="style: { left: app.overlayLeftPos() }">
			<div class="pull-left">
				<button id="overlay-close-btn" class="btn btn-default" data-bind="click: Close">Close</button>
			</div>
			<div class="pull-right">
				<button class="ladda-button btn btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit">
					<span class="ladda-label" data-bind="text: btnText()"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<div data-bind="template: { afterRender:OnRendered }">
