<div id="overlay" data-bind="style: { left: app.overlayLeftPos(), width: app.overlayWidth() }">
	<div id="overlay-main">
		<div class="modal-header">
			<button type="button" class="close" data-bind="click:Cancel"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
			<h4 class="modal-title">Edit Your Introduction</h4>
		</div>
		<form data-bind="css: { hasChanges: isDirty }">
			<div class="modal-body">
				<div class="forms-container">
					<div class="form-group" style="margin-bottom: 5px;">
						<widget-toggle-switch params="{ value: isVisible, labelText: 'Show this section', style: { marginLeft: '10px' } }"></widget-toggle-switch>
					</div>
					<div class="form-group">
						<label for="title">Section Title</label>
						<input type="text" id="title" class="form-control" data-bind="textInput: title, enable: isVisible">
					</div>
					<div class="form-group">
						<widget-text-editor params="content: content, labelText: 'Content', enable: isVisible"></widget-text-editor>
					</div>
					<div class="form-group">
						<label for="menu-text">Menu Text</label>
						<input type="text" id="menu-text" class="form-control" data-bind="textInput: menuText, enable: isVisible">
					</div>
				</div>
			</div>
			<div class="overlay-footer" data-bind="style: { left: app.overlayLeftPos() }">
				<div class="pull-left">
					<button id="overlay-close-btn" class="btn btn-default" data-bind="click: Cancel">Close</button>
				</div>
				<div class="pull-right">
					<button class="ladda-button btn btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit">
						<span class="ladda-label">
							<i class="fa fa-check"></i>
							<strong> {{ btnText }}</strong>
						</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div data-bind="template: { afterRender:OnRendered }">
