<div class="main-section" data-bind="with: installation">

	<section class="row">
		<div class="col-xs-12 text-center">
			<h1 class="main-header">{{ name }}</h1>
			<p> {{ weddingDate }} </p>
		</div>

		<widget-image-uploader params="{ observable: $component.imageUrl, useEditor: true }"></widget-image-uploader>

		<!--
		<img src="images/lucy.jpg">
		<img src="http://placekitten.com/100/100" alt="" data-bind="attr: { src: $component.imageUrl }">

		<img src="images/lucy.jpg" id="tester">
		-->

		<!-- ko if: sections.intro && sections.intro.isVisible() -->
			<section-intro></section-intro>
		<!-- /ko -->

		<!-- ko if: sections.weddingParty && sections.weddingParty.isVisible() -->
			<section-wedding-party></section-wedding-party>
		<!-- /ko -->

		<!-- ko if: sections.maps && sections.maps.isVisible() -->
			<section-maps></section-maps>
		<!-- /ko -->

		<!-- ko if: sections.rsvp && sections.rsvp.isVisible() -->
			<section-rsvp></section-rsvp>
		<!-- /ko -->

	</section>
</div>
<span data-bind="template: { afterRender: OnRendered.bind($component) }"></span>
