/* Webfont: Jabana-Alt-Extended-Light */@font-face {
    font-family: 'JabanaAltExtendedLight';
    src: url('Jabana-Alt-Extended-Light.eot'); /* IE9 Compat Modes */
    src: url('Jabana-Alt-Extended-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Jabana-Alt-Extended-Light.woff') format('woff'), /* Modern Browsers */
         url('Jabana-Alt-Extended-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Jabana-Alt-Extended-Light.svg#Jabana-Alt-Extended-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

