<div id="login-page">

	<div class="login-form">

		<div class="text-center">
			<h3>Wedding Pixie</h3>
			<p>Forgot your Password?</p>
			<p><small>Enter your email below to receive your password reset instructions.</small></p>
		</div>

		<!-- ko ifnot: app.isUserLoggedIn -->
			<form class="form" role="form" accept-charset="UTF-8" data-bind="submit: OnSubmit">

				<div class="form-group">
					<label class="sr-only" for="email">Email address</label>
					<input type="email" class="form-control" id="email" placeholder="Email address" required data-bind="textInput: userEmail">
				</div>

				<div class="form-group">
					<button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-out" data-bind="ladda:isSubmitting">
						<span class="ladda-label">Reset Password</span>
	  				</button>
				</div>

			</form>
			<div class="bottom text-center">
				<small>New here? <a href="www.weddingpixie.com"><b>Join Us</b></a></small>
			</div>
		<!-- /ko -->
		<!-- ko if: app.isUserLoggedIn -->
			<p>Hmmm, it looks like you are already logged in as <strong>{{ app.loggedInUser.email() }}</strong>.</p>
			<div class="form-group">
				<a href="#editor" class="btn btn-primary btn-block">Go to Editor Page</a>
			</div>
			<p class="text-center">or</p>
			<div class="form-group">
				<button class="ladda-button btn btn-danger btn-block" data-style="zoom-out" data-bind="click: OnClickLogOut,ladda:isLoggingOut">
					<span class="ladda-label">Sign Out</span>
  				</button>
			</div>
			<div class="clearfix"></div>
		<!-- /ko -->

	</div>

</div>

