<!-- ko with: intro -->
<section class="row">
	<div class="col-md-2 col-md-offset-5 text-center">
		<hr>
	</div>
</section>

<section class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="intro-block">
			<!-- ko if: header -->
				<h2>{{ header }} </h2>
			<!-- /ko -->
			<p class="ql-editor fake">{{{ content }}}</p>
			<!-- ko if: false && includeSignature -->
				<p class="pull-right"> {{ $component.signature }} </p>
			<!-- /ko -->
		</div>
	</div>
</section>
<!-- /ko -->
