<div id="login-page">

	<!-- ko if: isCheckingToken -->
		<div id="preloader" class="white">
			<i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
			<p>Checking your password reset token...</p>
		</div>
	<!-- /ko -->
	<!-- ko ifnot: isCheckingToken -->
		<div class="login-form">

			<div class="text-center">
				<h3>Wedding Pixie</h3>
				<p>Update your Password</p>
			</div>

			<form class="form" role="form" accept-charset="UTF-8" data-bind="submit: OnSubmit">

				<div class="form-group">
					<label class="sr-only" for="password">New Password</label>
					<input type="password" class="form-control" id="password" placeholder="New password" required data-bind="textInput: newPassword, enable: isValidToken">
				</div>

				<div class="form-group">
					<label class="sr-only" for="confirmation">Confirm Password</label>
					<input type="password" class="form-control" id="confirmation" placeholder="Confirm password" required data-bind="textInput: confirmation, enable: isValidToken">
				</div>

				<div class="form-group">
					<button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-out" data-bind="ladda:isSubmitting">
						<span class="ladda-label">Update Password</span>
	  				</button>
				</div>

			</form>
			<div class="bottom text-center">
				<small>New here? <a href="www.weddingpixie.com"><b>Join Us</b></a></small>
			</div>

		</div>
	<!-- /ko -->

</div>

