<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">{{ installation.name }}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- ko foreach: installation.activeSections -->
				<li>
					<a href="#">{{ $data }}</a>
				</li>
				<!-- /ko -->
				<!-- ko if: app.currentRoute().showAdmin -->
					<!-- // Dropdown copied from http://bootsnipp.com/snippets/featured/fancy-navbar-login-sign-in-form - nice FB and Twitter options there too for future use -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="form" role="form" id="login-nav" accept-charset="UTF-8" data-bind="submit: OnSubmitLogin">
											<div class="form-group">
												<label class="sr-only" for="email">Email address</label>
												<input type="email" class="form-control" id="email" placeholder="Email address" required data-bind="textInput: userEmail">
											</div>
											<div class="form-group">
												<label class="sr-only" for="paswword">Password</label>
												<input type="password" class="form-control" id="paswword" placeholder="Password" required data-bind="textInput: userPassword">
				                                <div class="help-block text-right"><a href="">Forgot your password?</a></div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-primary btn-block">Sign in</button>
											</div>
											<!--
											<div class="checkbox">
												<label>
												<input type="checkbox"> Keep me logged-in
												</label>
											</div>
											-->
										</form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="#"><b>Join Us</b></a>
									</div>
								</div>
							</li>
						</ul>
					</li>
				<!-- /ko -->
			</ul>
		</div>
	</div>
</nav>
