<nav id="main-nav" class="navbar navbar-default" role="navigation" data-bind="css: navbarClass">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="hamburger-btn">
				  <span></span>
				  <span></span>
				  <span></span>
				  <span></span>
				</span>
			</button>

			<a href="/" class="navbar-brand">{{ installation.sections.home.title }}</a>

		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- ko foreach: installation.activeSections -->
				<li>
					<a href="#" data-bind="click: $component.OnClickNavItem, attr: { href: $component.getSectionId($data) }">{{ $data }}</a>
				</li>
				<!-- /ko -->
				<!-- ko if: app.constants.TRUSTEDSITES.indexOf(app.installation.id()) !== -1 -->
				<li>
					<a href="#faqs-container" data-bind="click: $component.OnClickFAQ">FAQs</a>
				</li>
				<!-- /ko -->
			</ul>
		</div>
	</div>
</nav>
