<nav id="main-nav" class="navbar navbar-default" role="navigation" data-bind="css: navbarClass">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="hamburger-btn">
				  <span></span>
				  <span></span>
				  <span></span>
				  <span></span>
				</span>
			</button>

			<!-- ko if: app.hasSidebar() -->
				<a href="#" data-bind="click: OnClickToggleSidebar" class="admin-toggle">
					<span class="sr-only">Toggle admin menu</span>
					<span class="hamburger-btn" data-bind="css: app.sidebarPosition()">
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					</span>
				</a>
			<!-- /ko -->
			<!-- ko ifnot: app.hasSidebar() -->
				<a href="/" class="navbar-brand">{{ installation.name }}</a>
			<!-- /ko -->
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- ko foreach: installation.activeSections -->
				<li>
					<a href="#" data-bind="click: $component.OnClickNavItem">{{ $data }}</a>
				</li>
				<!-- /ko -->
			</ul>
		</div>
	</div>
</nav>
