<div data-bind="attr:{'id':modalDivId},css:{fade:allowFade}" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" data-bind="text:title">Upload Image</h4>
			</div>
			<div class="modal-body uploader-body">
				<!-- ko if: templateLoaded -->
					<widget-image-uploader params="{ file: file, isEditing: isEditing, imageSrc: imageUrl, uid: uid, editorOptions: editorOptions }"></widget-image-uploader>
				<!-- /ko -->
			</div>
			<div class="modal-footer">
				<div class="text-right">
					<button class="btn btn-link" data-bind="click:OnClickCancel">Cancel</button>
					<button class="ladda-button btn btn-success" data-style="expand-right" data-bind="ladda:isSubmitting, click:OnSubmit">
						<span class="ladda-label" data-bind="text: btnText()"></span>
					</button>
				</div>
			</div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->

