<div data-bind="attr:{'id':modalDivId},css:{fade:allowFade}" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
				<span class="close-btn" data-dismiss="modal" aria-label="Close">
					<span class="sr-only">close</span>
				</span>
		        <h4 class="modal-title">Pick an Image</h4>
			</div>
			<div class="modal-body image-picker">
				<!-- ko if: templateLoaded -->

					<div class="clearfix">
						<!-- ko foreach: images -->
							<div class="image-picker--image-holder" data-bind="click: $component.OnSelectImage">
								<img data-bind="attr: { src: $data }" />
							</div>
						<!-- /ko -->
					</div>

				<!-- /ko -->
			</div>
			<div class="modal-footer">
				<div class="text-right">
					<button class="btn btn-link" data-bind="click:OnClickCancel">Cancel</button>
					<button class="btn btn-success" data-bind="click:OnClickConfirm">Okay</button>
				</div>
			</div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->
